body{
    margin: 0;
    padding: 0;   
}
.contenedor{
    max-width: 1280px;
    width: 99%;
    margin:auto;
  }
#copyright{
    padding-top: 70px;
    font-size: 15px;
    text-align: center;
}
#copyright h5{
    font-size: 15px;
    padding-top: 20px; 
}
/*ATRIBUCIÓN DEL ÍCONO DE PIKACHU 
<div class="flaticon">Icons made by <a href="https://www.flaticon.com/authors/roundicons-freebies" title="Roundicons Freebies">Roundicons Freebies</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>    
.flaticon{
    font-size: 9px;
}
*/